a {
  text-decoration: none;
  color: #011839;
}


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Banner */
header {
  padding: 1vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 2vw;
}

/* Menu */
header h1 {
  color: #011839;
  font-weight: 900;
  font-size: 1.7rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0 0 0 4vw;
}

header h1 a {
  display: flex;
  align-items: center;
}

header h1 a img {
  margin: 0 2vw 0 0;
}

header nav ul {
  display: flex;

}

header nav ul li {
  margin: 0 2vw;
}

header nav ul li a {
  text-decoration: none;
  color: #011839;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Main */
main {
  position: relative;
  width: 100%;
  color: white;
  overflow: hidden;
}

main section.banner1 {
  padding: 20vh 0 50vh 5vw;
  color:    white;
  background: url(../images/image\ 9.png);
  max-height: 1150px;
}

main section.banner1 h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 6rem;
  padding: 0vw 0 0vw 0;
  font-weight: bold;
  padding: 6vw 0vw 0vw 3vw;

}

main section.banner1 p {
  font-size: 1rem;
  color:    white;
  padding: 0vw 0vw 0vw 3vw;
  font-weight: bold;
}

main section.banner2 {
  padding: 10vh 5vw 20vh 5vw;
  margin: -4vw 0 0 0;
  width: 100%;
  border-radius: 20px;
  background-color: white;
}

main section.banner2 div {
  margin: 0;
  font-size: 1.1rem;
  box-shadow: 0px 0px 10px gray;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2vw;
border-color: #02193B;
}
main section.banner2 div h4{
    color: #02193B;
    text-align: center;
    font-size: 1.4rem;
    padding: 3vw ;
    font-weight: bold;
}
main section.banner2 div p{
    color: #02193B;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}
main section.banner3{
  color: #011839;
  display: flex;
  margin: 0 auto;
  box-shadow: 0px 0px 10px gray;
  margin: 0 3vw 0 3.109vw;
  border-radius: 20px;
  border-color: black;
}

main section.banner3 h2{
  font-size: 3rem;
  font-weight: bolder;
  padding: 3vw 0 0 2vw;
  text-align: center;
}
main section.banner3 img{
max-height: 550px;
max-width: 800px;
padding: 2px 0px 0px 5vw;
}
main section.banner3 ul{
    padding: 0px 0vw 0px 9vw;
    
}
main section.banner3 ul li {
    padding: 3px;
}

section.banner4 div{
  background: white;
  color: #011839;
  display: flex;
  margin: 0 auto;
  box-shadow: 0px 0px 10px gray;
  margin: 0 3vw 0 3.109vw;
  border-radius: 20px;
  border-color: #011839;


}

main section.banner3 h2{
    color: #011839;
    padding: 5vw;
  font-size: 3rem;
  font-weight: bolder;
  padding: 5vw 0 0 5vw;
  text-align: center;
}
main section.banner3 ul{
    align-items: center;
    
}
section.banner4{
    margin: 10vw 0vw 10vw 0vw;
}