a {
  text-decoration: none;
  color: #011839;
}

html body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Banner */
header {
  padding: 1vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 2vw;
}

/* Menu */
header h1 {
  color: #011839;
  font-weight: 900;
  font-size: 1.7rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0 0 0 4vw;
}

header h1 a {
  display: flex;
  align-items: center;
}

header h1 a img {
  margin: 0 2vw 0 0;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin: 0 2vw;
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  color: #011839;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header nav ul li a.sono {
  text-decoration: underline;
}

/*banners*/

main section.banner1 {
  background: url(../images/image\ 6.png);
  color: white;
}
main section.banner1 h1{
  font-size: 6rem;
  font-weight: bold;
}
main section.banner1 p{
  text-align: right;
  text-decoration: ;
  padding: 40px 80px 100px 200px;
}