a {
  text-decoration: none;
  color: #011839;
}


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Banner */
header {
  padding: 1vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 2vw;
}

/* Menu */
header h1 {
  color: #011839;
  font-weight: 900;
  font-size: 1.7rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0 0 0 4vw;
}

header h1 a {
  display: flex;
  align-items: center;
}

header h1 a img {
  margin: 0 2vw 0 0;
}

header nav ul {
  display: flex;

}

header nav ul li {
  margin: 0 2vw;
}

header nav ul li a {
  text-decoration: none;
  color: #011839;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Main */
main {
  position: relative;
  width: 100%;
  color: white;
  overflow: hidden;
}

main section.banner1 {
  padding: 20vh 0 50vh 5vw;
  color: #011839;
  background: url(../images/image\ 2.png);
  max-height: 1150px;
}

main section.banner1 h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 7rem;
  padding: 0vw 0 0vw 0;
  font-weight: bold;

}

main section.banner1 p {
  font-size: 1.5rem;
  color: #5274A5;
  padding: 0 0 10vw 1vw;
  font-weight: bold;
}

main section.banner2 {
  max-height: 589px;
  padding: 20vh 0 40vh 5vw;
  margin: 4vw 3vw 4vw 5.8vw;
  background: url(../images/image\ 3.png);
  width: 1580px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
}

main section.banner2 div {
  margin: 0 0 0vw 45vw;
  font-size: 1.1rem;

}

main section.banner2 div h2 {
  font-size: 3rem;
  font-weight: bolder;
}

main section.banner2 div h3 {
  font-weight: bold;
  margin: 1.6vw 0 1.4vw 0;
  font-size: 1.2rem;
}

main section.banner2 div ul li {
  list-style: disc;
  font-weight: 500;
  margin: 0 0 0 1vw;

}