html, body { 
  margin: 0; 
  padding: 0;
}
* { 
  box-sizing: border-box; 
}

/* Banner (topo) */
header {
  width: 100%;
  height: 20vh;
  background: #011839 url(../images/Ciclozen.png) left center/contain no-repeat;
  display: flex;
  align-items: center;
}

/* Menu */
header nav {
  margin-left: auto; /* joga o menu pra direita */
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Main */
main {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden; /* impede a imagem de sair do main */
}

main .banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* faz a img se comportar como background-size: cover */
  z-index: -1; /* joga a imagem para trás do texto */
}

main h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}