* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  color: #02193B;
  font-family: Inter;
}

header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.04vh 2.6vw;
  background-color: white;
  width: 100%;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.52vw;
}

header .logo img {
  width: 2.08vw;
}

header .logo p {
  font-size: 1.25vw;
  font-weight: 800;
}

nav ul {
  display: flex;
  gap: 1.56vw;
  list-style: none;
}

nav ul li a {
  font-size: 1.04vw;
}

nav ul li a:hover {
  text-decoration: underline 0.104vw;
}

nav ul li a.active {
  text-decoration: underline 0.104vw;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #497FCF, #112C54);
  color: white;
}

.right-footer {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 2vw;
}

.right-footer p {
  color: white;
}

.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1vw 2vw;
}

.left-footer h2 {
  color: white;
  margin-bottom: 1rem;
  font-size: 30px;
}

.left-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}