* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  color: #02193B;
  font-family: Inter;
}

header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.04vh 2.6vw;
  background-color: white;
  width: 100%;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.52vw;
}

header .logo img {
  width: 2.08vw;
}

header .logo p {
  font-size: 1.25vw;
  font-weight: 800;
}

nav ul {
  display: flex;
  gap: 1.56vw;
  list-style: none;
}

nav ul li a {
  font-size: 1.04vw;
}

nav ul li a:hover {
  text-decoration: underline 0.104vw;
}

nav ul li a.active {
  text-decoration: underline 0.104vw;
}

main {
  padding-top: 80px;
  background-color: #e3edff;
}

body {

  padding-bottom: 0px;
}

main section {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

main section h1 {
  font-size: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: .3s;
}

form input:focus {
  border-color: #6a5acd;
  box-shadow: 0 0 5px rgba(106, 90, 205, 0.4);
}

form label {
  font-weight: bold;
  font-size: 15px;
}

form button {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #6a5acd;
  color: white;
  transition: .3s;
}

form button:hover {
  background-color: #5a4abc;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #497FCF, #112C54);
  color: white;
}

.right-footer {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 2vw;
}

.right-footer p {
  color: white;
}

.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1vw 2vw;
}

.left-footer h2 {
  color: white;
  margin-bottom: 1rem;
  font-size: 30px;
}

.left-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}

#theme-toggle {
  border: none;
  background: none;
  font-size: 26px;
  cursor: pointer;
  margin-left: 20px;
}


body.dark main {
  background-color: #0e0e16;
}

body.dark .quest h1 {
  color: #ffffff;
}

body.dark .quest h1::after {
  background: #9b7bff;
  box-shadow: 0 0 10px rgba(155, 123, 255, 0.7);
}


body.dark form {
  background: #1b1b1f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
}

body.dark form label {
  color: #ffffff;
}

body.dark form input,
body.dark form select {
  background: #111115;
  border: 2px solid #444;
  color: white;
}

body.dark form input:focus,
body.dark form select:focus {
  border-color: #9b7bff;
  box-shadow: 0 0 8px rgba(155, 123, 255, .6);
}

body.dark form button {
  background-color: #9b7bff;
}

body.dark form button:hover {
  background-color: #8c6dff;
}

/* === Responsividade === */


@media (max-width: 600px) {

  /* Header */
  header .logo img {
    width: 8vw;
  }

  nav ul li a {
    font-size: 4vw;
  }

  #theme-toggle {
    font-size: 8vw;
  }

  /* Section */
  main section {
    padding: 120px 20px;
  }

  .quest h1 {
    font-size: 28px;
  }

  /* Form mais largo no mobile */
  form {
    width: 90%;
    padding: 25px;
    gap: 15px;
  }

  form input,
  form select {
    padding: 14px;
    font-size: 15px;
  }

  form button {
    font-size: 16px;
    padding: 14px;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  .right-footer img {
    width: 80px;
  }
}