* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  color: #02193B;
  font-family: Inter;
}

header {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.04vh 2.6vw;
  background-color: white;
  width: 100%;
  box-shadow: 0 0.1vh 0.5vh rgba(0, 0, 0, 0.1);
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.52vw;
}

header .logo img {
  width: 2.08vw;
  min-width: 30px;
}
header .logo a{
    display: flex;
    gap: .5rem;
    align-items: center;
}
header .logo p {
  font-size: 1.25vw;
  font-weight: 800;
}
.negrito{
    font-weight: bold;
}
nav ul {
  display: flex;
  gap: 1.56vw;
  list-style: none;
}

nav ul li a {
  font-size: 1.04vw;
  transition: color 0.3s;
}

nav ul li a:hover {
  text-decoration: underline 0.104vw;
  color: #5274A5;
}

nav ul li a.active {
  text-decoration: underline 0.104vw;
}

main {
  padding-top: 80px;
  background-color: #f8f8f8;
}

body {

  padding-bottom: 0px;
}

main section {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

main section h1 {
  font-size: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: .3s;
}

form label {
  font-weight: bold;
  font-size: 15px;
}

form button {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #02193B;
  color: white;
  transition: .3s;
}

form button:hover {
  background-color: #497FCF;
}

.pg1 button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: #02193B;
  color: white;
  font-weight: 600;
  transition: background-color 0.25s ease;
}

.pg1 button:hover {
  background: #497FCF;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #497FCF, #112C54);
  color: white;
}

.right-footer {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 2vw;
}

.right-footer p {
  color: white;
}

.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1vw 2vw;
}

.left-footer h2 {
  color: white;
  margin-bottom: 1rem;
  font-size: 30px;
}

.left-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}
.dropdown{
    display: none;
}
@media (max-width: 768px) {

  header {
        height: 60px;
        padding: 10px 20px;
    }

    header .logo img {
        width: 30px;
    }

    header .logo p {
        font-size: 5vw;
    }

    nav {
        display: none;
    }

    .dropdown {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 120px;
    }
    details {
        padding: 10px;
        border-radius: 6px;
        cursor: pointer;
    }

    summary {
        list-style: none;
        font-weight: bold;
        padding: 10px;
        border-radius: 4px;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    summary::after {
        content: "▼";
        float: right;
        transition: transform 0.2s;
        font-size: 12px;
        opacity: 0.7;
    }

    details[open] summary::after {
        transform: rotate(-180deg);
    }

    .menu {
        margin-top: 220px;
        display: flex;
        flex-direction: column;
        background: white;
        padding: 15px;
        gap: 10px;
        border-radius: 6px;
        animation: fade 0.3s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    .menu a {
        color: #02193B;
        font-weight: 600;
        padding: 8px 0;
        border-bottom: 1px solid #ddd;
    }

    .menu a:last-child {
        border-bottom: none;
    }

    @keyframes fade {
        from { opacity: 0; transform: translateY(-5px); }
        to   { opacity: 1; transform: translateY(0); }
    }

  #theme-toggle {
    font-size: 8vw;
  }

  main section {
    padding: 120px 20px;
  }

  .quest h1 {
    font-size: 28px;
    margin-bottom: 1rem;
  }

  form {
    width: 90%;
    padding: 25px;
    gap: 15px;
  }

  form input,
  form select {
    padding: 14px;
    font-size: 15px;
  }

  form button {
    font-size: 16px;
    padding: 14px;
  }
    footer {
        flex-direction: column;
        text-align: center;
        padding: 5vw;
        gap: 3vh;
    }

    .left-footer {
        padding: 0;
        align-items: center;
    }

    .left-footer h2 {
        font-size: 5vw;
        margin-bottom: 1.5vh;
    }

    .left-footer ul {
        justify-content: center;
        gap: 5vw;
    }

    .right-footer {
        flex-direction: column;
        gap: 1vh;
        padding: 0;
    }

    .right-footer img {
        width: 8vw;
    }

    .right-footer p {
        font-size: 3vw;
    }
}