* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    color: #02193B;
    font-family: Inter;
}
header {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.04vh 2.6vw;
    background-color: white;
    width: 100%;
    box-shadow: 0 0.1vh 0.5vh rgba(0, 0, 0, 0.1);
}
header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.52vw;
}
header .logo img {
    width: 2.08vw;
    min-width: 30px;
}
header .logo p {
    font-size: 1.25vw;
    font-weight: 800;
}
nav ul {
    display: flex;
    gap: 1.56vw;
    list-style: none;
}
nav ul li a {
    font-size: 1.04vw;
    transition: color 0.3s;
}
nav ul li a:hover {
    text-decoration: underline 0.104vw;
    color: #5274A5;
}
nav ul li a.active {
    text-decoration: underline 0.104vw;
}

.section1 {
    margin-top: 0.03rem;
    position: relative;
    height: 100vh;
    background-image: url('img/Gemini_Generated_Image_7igmav7igmav7igm.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5.21vh;
    display: flex;
    flex-direction: column;
    gap: 1.04vh;
}

.section1 h1 {
    width: 50%;
    padding-top: 5rem;
    font-weight: 800;
    font-size: 6.67vw;
    line-height: 100%;
}

.section1 p {
    font-family: Inter;
    font-weight: 800;
    font-size: 1.25vw;
    line-height: 100%;
    color: #5274A5;
    width: 15%;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    gap: 2.6vh;
    background-color: white;
}

.section2 .box {
    width: 95%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 0.26vh;
    justify-content: center;
    align-items: end;
    border-radius: 1vw;
    overflow: hidden;
    box-shadow: 0 0.8vh 2.4vh rgba(0, 0, 0, 0.45);

}
.section2 .box h1{
    padding: 5vw 0 2vw 0;
}
.box .div {
    margin: 2.6vw 2.6vw;
}

.section2 .box h1 {
    font-family: Inter;
    font-weight: 900;
    font-size: 3.33vw;
    line-height: 100%;
    color: #02193B;
    margin-bottom: 2vh;
}

.section2 .box p {
    font-family: Inter;
    font-weight: 700;
    font-size: 1.2vw;
    line-height: 100%;
    text-align: justify;
    color: #02193B;
    margin-bottom: 4vh;
}

.section2 .box ul li {
    color: #02193B;
    margin-bottom: 0.8vh;
    font-weight: 500;
    font-size: 1.04vw;
}
.section2 .box ul li a{
    text-decoration: underline;
}
.section2 .box ul li a:hover{
    text-decoration: underline;
    color: #497FCF;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #497FCF, #112C54);
  color: white;
}
.right-footer{
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 2vw;
}

.right-footer p {
  color: white;
}

.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1vw 2vw;
}

.left-footer h2 {
  color: white;
  margin-bottom: 1rem;
  font-size: 30px;
}

.left-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}