* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    color: #02193B;
    font-family: Inter;
}
header {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.04vh 2.6vw;
    background-color: white;
    width: 100%;
    box-shadow: 0 0.1vh 0.5vh rgba(0, 0, 0, 0.1);
}
header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.52vw;
}
header .logo img {
    width: 2.08vw;
    min-width: 30px;
}
header .logo p {
    font-size: 1.25vw;
    font-weight: 800;
}
nav ul {
    display: flex;
    gap: 1.56vw;
    list-style: none;
}
nav ul li a {
    font-size: 1.04vw;
    transition: color 0.3s;
}
nav ul li a:hover {
    text-decoration: underline 0.104vw;
    color: #5274A5;
}
nav ul li a.active {
    text-decoration: underline 0.104vw;
}

.section1 {
    margin-top: 0.03rem;

    position: relative;
    height: 100vh;
    background-color: #112C54;
    background-image: url('img/hero-sobrenos.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6vw;
    display: flex;
    flex-direction: column;
    gap: 1.04vh;
}

.section1 h1 {
    font-weight: 800;
    font-size: 6rem;
    line-height: 100%;
    color: white;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vw;
    gap: 4vw;
    background-color: white;
}

.acreditamos {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.acreditamos h1 {
    font-weight: 900;
    font-size: 3em;
    line-height: 100%;
    margin-bottom: 0.5em;
}

.acreditamos p {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.2;
    text-align: justify;

}

.referencias p a {
  background-color: #02193B;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s ease;
}
.referencias p a:hover{
    background: #497FCF;
} 


.membros {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.membros h1{
font-weight: 900;
font-size: 3rem;
line-height: 100%;
}
.membros ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.membros ul li {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.membros ul li img {
    border-radius: 50%;
    width: 10rem;
    height:10rem;
}

.membros ul li p {
    font-weight: 800;
    font-size: 1rem;
    line-height: 100%;
    text-align: justify;
    color: #02193B;

}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #497FCF, #112C54);
  color: white;
}
.right-footer{
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 2vw;
}

.right-footer p {
  color: white;
}

.left-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1vw 2vw;
}

.left-footer h2 {
  color: white;
  margin-bottom: 1rem;
  font-size: 30px;
}

.left-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}