* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    color: #02193B;
    font-family: Inter;
}

header {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.04vh 2.6vw;
    background-color: white;
    width: 100%;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.52vw;
}

header .logo img {
    width: 2.08vw;
}

header .logo p {
    font-size: 1.25vw;
    font-weight: 800;
}

nav ul {
    display: flex;
    gap: 1.56vw;
    list-style: none;
}

nav ul li a {
    font-size: 1.04vw;
}

nav ul li a:hover {
    text-decoration: underline 0.104vw;
}

nav ul li a.active {
    text-decoration: underline 0.104vw;
}

.section1 {
    margin-top: 0.03rem;
    position: relative;
    height: 100vh;
    background-image: url('img/hero1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5.21vh;
    display: flex;
    flex-direction: column;
    gap: 1.04vh;
}

.section1 h1 {
    width: 50%;
    padding-top: 5rem;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 6.67vw;
    line-height: 100%;
    letter-spacing: 0%;
}

.section1 p {
    font-family: Inter;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 1.25vw;
    line-height: 100%;
    letter-spacing: 0%;
    color: #5274A5;
    width: 15%;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    gap: 2.6vh;
    background-color: white;
}

.section2 .sono {
    width: 95%;
    height: 46.3vh;
    background-image: url('img/sono.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 0.26vh;
    justify-content: center;
    align-items: end;
    border-radius: 1vw;
    /* ou o valor que quiser */
    overflow: hidden;
    background-color: #003011;
    box-shadow: 0 0.8vh 2.4vh rgba(0, 0, 0, 0.45);
    /* ESSENCIAL para cortar a imagem */
}

.sono .content-sono {
    margin: 2.6vw 2.6vw;
}

.section2 .sono h1 {
    font-family: Inter;
    font-weight: 900;
    font-style: Black;
    font-size: 3.33vw;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 2vh;
}

.section2 .sono p {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.2vw;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: justify;
    color: white;
    margin-bottom: 4vh;
}

.section2 .sono ul li {
    color: white;
    margin-bottom: 0.8vh;
    font-weight: 500;
    font-size: 1.04vw;
}

.section2 .presono {
    width: 95%;
    height: 46.3vh;
    display: flex;
    justify-content: space-between;
    margin: 2.6vw;
    background-color: white;
    border-radius: 0.83vw;
    border: #02193B 0.052vw solid;
    box-shadow: 0 0.8vh 2.4vh rgba(0, 0, 0, 0.45);
}

.presono .left {
    padding: 2.6vw;
}

.left h1 {
    font-weight: 900;
    font-style: Black;
    font-size: 3.33vw;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 2vh;
}

.left p {
    font-weight: 700;
    font-style: Bold;
    font-size: 1.25vw;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: justify;
    margin-bottom: 4vh;
}

.left ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-left: 1.04vw;
}

.left ul li {
    font-weight: 500;
    font-style: Medium;
    font-size: 1.2vw;
}

.presono .right img {
    height: 46.3vh;
    width: auto;
}

.bonshabitos {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.bonshabitos h1 {
    width: 22.1vw;
    height: 7.13vh;
    font-weight: 900;
    font-style: Black;
    font-size: 3.33vw;
    margin-bottom: 2.5rem;
}

.bonshabitos ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vw;
}

.bonshabitos ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vh;
    font-weight: 800;
    font-style: Extra Bold;
}

.bonshabitos ul li img {
    height: 8vw;
    width: 8vw;
    margin-bottom: 1.5vh;
}

.sintomas{
    width: 95%;
    height: 100vh;
    background-image: url('img/medica.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1vw;
    /* ou o valor que quiser */
    box-shadow: 0 0.8vh 2.4vh rgba(0, 0, 0, 0.45);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 5rem 0;
    gap: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}
.sintomas h1{
font-weight: 900;
font-size: 4rem;
color: white;

}
.sintomas ul{
    display: flex;
    gap: 3rem;

}
.sintomas ul li {
    color: white;
    font-size: 1.2rem;
}
footer{
    display: flex;
    justify-content: space-between;
    flex: 1;
    background: linear-gradient(to bottom,#497FCF, #112C54 );
    padding: 2rem;
   
}
footer .left-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    
}
.left-footer p{
    color: white;
}
.right-footer{
    display: flex;
    flex-direction: column; 
    justify-content: end;
}
.right-footer h2{
    color: white;
    margin-bottom: 1rem;
}
.right-footer ul {
    list-style: none;
    margin-bottom: 1rem;
}

.right-footer ul li a{
    color: white;
    text-decoration: underline;
}