html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.8vw);
}
a{
    text-decoration: none;
    color: black;
}

/* Topo */

header{
    padding: 5vw 10vw 5vw 10vw;
}
header nav{
    display: flex;
    justify-content: space-between;
}
header nav h1{
    font-size: 2rem;
    font-weight: bold;
}
ul{
    display: flex;
}
header nav ul li{
    margin: 0 10px 0 10px;
}

/* Banner */

section.banner{
    background-color: #f2f0ff;
    padding: 5vw 10vw 5vw 10vw;
    display: flex;
}
section.banner p.paragraforosa{

}